{% extends "base.html" %}
{% block head %}
<link rel="stylesheet" href="{{ url_for('static', filename='terminestyle.css') }}">
{% endblock %}
{% block main %}
<p>&nbsp;</p>
<p>&nbsp;</p>

Termin ausmachen:
<form class="form1" method="POST">
    <input class="un " type="date" name="date" align="center" placeholder="Datum eintragen">
    <input class="pass" type="time" name="time" align="center" placeholder="Zeit eintragen">
    <label for="vaccine">Ihr gewünschter Test: </label>
    <select name="vaccine" id="vaccine"> 
        <option value="BioNTech">BioNTech</option>
        <option value="AstraZeneca">AstraZeneca</option>
        <option value="Moderna">Moderna</option>
        <option value="NovoVax">NovoVax</option>
    </select>
    <button type="submit" class="submit" align="center" href="/impf_appointments">Termin beantragen</button>      
</form>

<p>!Du kannst keine Termine in der Vergangenheit oder zuweit in der Zukunft ausmachen -- MySQL hat da auch iwie nen Problem mit!</p>
<h2>Deine Termine:</h2>
<table>
    <tr>
        <th>Zeitpunkt</th>
        <th>Impfstoff</th>
    </tr>
    {% for item in data %}
    <tr>
        <td>{{item[0]}}</td>
        <td>{{item[1]}}</td>
    </tr>
    {% endfor %}

</table>


{% endblock %}