{% extends "base.html" %}
{% block head %}
{% endblock %}
{% block main %}
<p>&nbsp;</p>
<p>&nbsp;</p>
<link rel="stylesheet" href="{{ url_for('static', filename='profile.css')}}">
<div class="container">
    <div class="row py-5">
      <div class="col-12">
        <table id="example" class="table table-hover responsive nowrap" style="width:100%">
          <thead>
            <tr>
              <th>First Name</th>
              <th>Last Name</th>
              <th>E-Mail</th>
              <th>Street</th>
              <th>City</th>
              <th>State</th>
              <th>Phone</th>
              <th>Impfstatus</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>
                <a href="#">
                  <div class="d-flex align-items-right">
                    
  
                    <div class="">
                      <p class="font-weight-bold mb-0">fill with</p>
                      <p class="text-muted mb-0">name</p>
                    </div>
                  </div>
                </a>
              </td>
              <td>fill</td>
              <td>with</td>
              <td>data</td>
              <td>
                <div class="badge badge-success badge-success-alt">Enabled</div>
              </td>
              <td>
                <div class="dropdown">
                    <button class="btn btn-sm btn-icon" type="button" id="Button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                          <i class="bx bx-dots-horizontal-rounded" data-toggle="tooltip" data-placement="top"
                            title="Actions">Edit</i>
                        </button>
                  </div>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
{% endblock %}