{% extends "base.html" %}
{% block head %}
{% endblock %}
{% block main %}
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>Admin-Seite - Zugriff nur für Admins</p>
<h2>Alle User:</h2>


<table>
    <tr>
        <th>ID</th>
        <th>Vorname</th>
        <th>Nachname</th>
        <th>EMail</th>
    </tr>
    {% for time in data %}
    <tr>
        <td>{{data[0][0][0]}}</td>
        <td>{{data[0][0][1]}}</td>
        <td>{{data[0][0][2]}}</td>
        <td>{{data[0][0][3]}}</td>
    </tr>
    {% endfor %}

</table>
<thead>
    <tr>
        <th> ID</th>
        <th>Vorname </th>
        <th>Nachname </th>
        <th>Email </th>
    </tr>
</thead>
<tbody>
    
    
    <tr>
        <td></td>
        
        <td>
            <button class="btn btn-primary btn-sm">Edit</button>
            <button class="btn btn-danger btn-sm">Delete</button>
        </td>
    </tr>

</tbody>

{% endblock %}
