{% extends "base.html" %}
{% block head %}
{% endblock %}
{% block main %}
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>Admin-Seite - Zugriff nur für Admins</p>
<h2>Alle User:</h2>




        <div class="container">
            <div class="row py-5">
              <div class="col-12">
                <table id="example" class="table table-hover responsive nowrap" style="width:100%">
                  <thead>
                    <tr>
                      <th>Client Name</th>
                      <th>Phone Number</th>
                      <th>Profession</th>
                      <th>Date of Birth</th>
                      <th>App Access</th>
                      <th>Actions</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                    {% for time in data %}
                      <td>
                        <a href="#">
                          <div class="d-flex align-items-center">
                            <div class="avatar avatar-blue mr-3">EB</div>
                            
                            <div class="">
                              <p class="font-weight-bold mb-0">{{data[0][0][0]}}</p>
                              <p class="text-muted mb-0">{{data[0][0][1]}}</p>
                            </div>
                          </div>
                        </a>
                      </td>
                      <td>(784) 667 8768</td>
                      <td>Designer</td>
                      <td>09/04/1996</td>
                      <td>
                        <div class="badge badge-success badge-success-alt">Enabled</div>
                      </td>
                      {% end for %}
                    </tr>
                </tbody>
             </div>
            </div>
        </div>
<tbody>
    
    
    <tr>
        <td></td>
        
        <td>
            <button class="btn btn-primary btn-sm">Edit</button>
            <button class="btn btn-danger btn-sm">Delete</button>
        </td>
    </tr>

</tbody>

{% endblock %}
