{% extends "base.html" %}
{% block head %}
<link rel="stylesheet" href="{{ url_for('static', filename='adminstyle.css') }}">
{% endblock %}
{% block main %}
<p>&nbsp;</p>
<p>&nbsp;</p>
<h2>Alle Impf-Termine:</h2>


<table>
    <tr>
        <th>Nachname</th>
        <th>Vorname</th>
        <th>E-Mail</th>
        <th>Testdatum</th>
        <th>Testart</th>
        <th>Ergebnis</th>
        <th>Aktion</th>
    </tr>
    {% for list in data %}
    <tr>
        <td>{{list[4]}}</td>
        <td>{{list[3]}}</td>
        <td>{{list[5]}}</td>
        <td>{{list[0]}}</td>
        <td>{{list[1]}}</td>
        <td>{{list[2]}}</td>
        <td><a href="">Action</a></td>
    </tr>
    {% endfor %}

</table>
{% endblock %}