{% extends "base.html" %}
{% block head %}
{% endblock %}
{% block main %}
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>!Du kannst keine Termine in der Vergangenheit oder zuweit in der Zukunft ausmachen -- MySQL hat da auch iwie nen Problem mit!</p>
<h2>Deine Termine:</h2>
<h1>{{timestamp}}</h1>
<table>
    <tr>
        <th>Zeitpunkt</th>
        <th>Testart</th>
        <th>Ergebniss</th>
    </tr>
    {% for time in data %}
    <tr>
        <td>{{time}}</td>
        <td>{{testtype}}</td>
        <td>{{result}}</td>
    </tr>
    {% endfor %}

</table>

Termin ausmachen:
<form class="form1" method="POST">
    <input class="un " type="date" name="date" align="center" placeholder="Datum eintragen">
    <input class="pass" type="time" name="time" align="center" placeholder="Zeit eintragen">
    <label for="testtype">Ihr gewünschter Test: </label>
    <select name="testtype" id="testtype"> 
        <option value="Schnelltest">Schnelltest</option>
        <option value="PCR-Test">PCR-Test</option>
        <option value="Antigentest">AntiGen-Test</option></select>
    <button type="submit" class="submit" align="center">Termin beantragen</button>      
</form>
{% endblock %}